body{
    background-color: #111c31;
    background-image: url("/assets/photos/tech7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw
}

.nav{
    background-color: #111c31;
    padding: 20px;
}

h1{
    color: white;
    font-size: 70px;
}

h3,
h2{
    color:white;
    font-weight: normal;
}

#scrapeNew{
    padding:8px;
    margin-right: 7px;
    margin-left: 8px;
}

#noArticlesHomeLink:hover,
#scrapeNew:hover{
    cursor: pointer;
}


.results{
    background-color: #111c31;
    padding: 20px;
    height: 50vh;
    text-align:center;
    border-top: solid 25px #111c31;
}

#mainLogo{
    text-align:center;
}

.nav-link:visited{
	color: white;
	text-decoration: none;
}

#noArticlesHomeLink:hover,
.nav-link:hover{
    color: #8a99c4;
}

.card-header{
    background-color:#143faa;
}

.card{
    text-align: left;
}

.card-text{
    color: #111c31;
    font-weight: normal;
}

.artTitle{
   color: white;
   font-weight: normal;
   text-decoration: none;
}
.artTitle:hover{
    color: white;
}
.artTitle:visited{
    color:white;
    text-decoration: none;
}

.deleteSaved,
.savedarticlenotes,
.saveArticle{
    background-color: #f6f6f6;
    margin:10px;
}

.deleteSaved:hover,
.savedarticlenotes:hover,
.saveArticle:hover{
    background-color: #e2e2e2;
}

.del{
    background-color: #ff0000;
    border-style: solid;
    border-width: 1px;
}

.del:hover{
    background-color: #fd4444;
    border-color:white;
}

.textarea{
    margin: 5px;
}

.mod{
    margin: 5px;
}

.some-results{
    padding: 10px;
    margin: 10px;
}

#noMessage{
    color: #ff0000;
}

.noNotesYet{
    text-align: center;
    font-style: italic;
}